<launch>
        <node pkg="mobile_robot" name="ultrasonicFrontBane" type="publishUltrasonicFront.py"/>
        <node pkg="mobile_robot" name="ultrasonicLeftBane" type="publishUltrasonicLeft.py"/>
        <node pkg="mobile_robot" name="ultrasonicRightBane" type="publishUltrasonicRight.py"/>
        <node pkg="mobile_robot" name="motionServerBane" type="motionServer9.py"/>
	
        

</launch>
